// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-image: url(background.jpeg);
}

.roundbox {
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 600px;
    height: 200px;
    //position:fixed;
    text-align:center;
    justify-content:center;
    display:flex;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
}
